.search-history {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem 0;
  
    h3 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1.5rem;
      text-align: center;
      font-weight: bold;
    }
  
    .search-list {
      list-style-type: none;
      padding: 0;
      .hotel-list{
        width: 60rem;
        .search-details-list{
            width: 60rem;
        }
      }
      .date-card, .hotel-card {
        cursor: pointer;
        padding: 1rem;
        margin: 0.5rem 0;
        background-color: #f9f9f9;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.2s ease;
  
        &:hover {
          background-color: #e0e0e0;
          transform: translateY(-2px);
        }
  
        strong {
          color: #007bff;
        }
      }
  
      .hotel-list {
        list-style-type: none;
        padding: 0;
  
        .hotel-card {
          margin-left: 1rem;
          background-color: #f0f0f0;
          border-left: 4px solid #007bff;
          padding-left: 1rem;
  
          &:hover {
            background-color: #e0e0e0;
          }
        }
  
        .search-details {
          margin-left: 2rem;
        }
      }
    }
  }
  