@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* All project colors */
  --primaryColor: #2C3E50;
  --primaryColorLight: #6e94bb;
  --bgColor: #ECF0F1;
  --formColor: #FFFFFF;
  --whiteColor: #FFFFFF;
  --blackColor: #000000;
  --greyText: #7F8C8D;
  --inputColor: #BDC3C7;
  --cardColor: #FFFFFF;
  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 1rem;
  --smallFontSize: 0.875rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 8rem;
}

.destination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.destination .secContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.destination .secContainer .secTitle {
  margin-bottom: 2rem;
}
.destination .secContainer .searchField {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
}
.destination .secContainer .searchField .inputFiled {
  display: flex;
  background: #a8cef5;
  padding: 1rem;
  border-radius: var(--borderRadius);
  gap: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.destination .secContainer .searchField .inputFiled input {
  background: transparent;
  border: none;
  outline: none;
  width: 17rem;
  color: #ffffff;
  background: linear-gradient(20deg, #893092, #055584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--normalFontSize);
  font-weight: bold;
}
.destination .secContainer .searchField .inputFiled input::-moz-placeholder {
  font-weight: bold;
  background: linear-gradient(20deg, #893092, #055584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  font-size: var(--normalFontSize);
  opacity: 0.8;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  text-align: center;
}
.destination .secContainer .searchField .inputFiled input::placeholder {
  font-weight: bold;
  background: linear-gradient(20deg, #893092, #055584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  font-size: var(--normalFontSize);
  opacity: 0.8;
  transition: opacity 0.8s ease;
  text-align: center;
}
.destination .secContainer .searchField .inputFiled input:focus::-moz-placeholder {
  opacity: 0;
}
.destination .secContainer .searchField .inputFiled input:focus::placeholder {
  opacity: 0;
}
.destination .secContainer .searchField .inputFiled .icon {
  color: var(--blackColor);
}
.destination .secContainer .searchField .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.destination .secContainer .resultsection {
  display: flex;
  width: 100%;
}
.destination .secContainer .resultsection .listResult {
  width: 50rem;
  max-height: 38rem;
  background: #def1ff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.destination .secContainer .redText {
  color: var(--primaryColor);
  font-size: var(--smallFontSize);
  font-weight: 500;
}
.destination .secContainer h3 {
  font-size: var(--h1FontSize);
  background: linear-gradient(10deg, #893092, #055584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.destination .secContainer p {
  font-size: var(--normalFontSize);
  background: linear-gradient(10deg, #893092, #055584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 641px) {
  .destination .secContainer .searchField {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding-left: 13rem;
  }
}
@media screen and (min-width: 1025px) {
  .destination .secContainer .searchField {
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
  }
  .destination .secContainer .secTitle .redText {
    font-size: var(--normalFontSize);
  }
  .destination .secContainer .secTitle h3 {
    font-size: var(--h1FontSize);
  }
  .destination .secContainer .secTitle p {
    font-size: var(--normalFontSize);
  }
}/*# sourceMappingURL=Destinations.css.map */