.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  border-bottom: 1.5px solid rgba(245, 245, 245, 0.731);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.749);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navBar .user_button {
  position: relative;
}
.navBar .user_button .btn {
  margin: 0.1rem 0.5rem;
}
.navBar .profile {
  position: relative;
}
.navBar .profile .dropDownProfile {
  position: absolute;
  top: 4rem;
  right: 0rem;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(235, 247, 254);
  border: 2px solid rgb(120, 1, 120);
  z-index: 1001;
}
.navBar .profile .dropDownProfile li {
  font-size: var(--h3FontSize);
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
}
.navBar .profile .dropDownProfile li:hover {
  color: var(--primaryColor);
  border-bottom: 1.5px solid var(--primaryColor);
}
.navBar .profile .dropDownProfile::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: rgb(235, 247, 254);
  border-left: 2px solid rgb(120, 1, 120);
  border-top: 2px solid rgb(120, 1, 120);
}
.navBar .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .logoDiv span {
  color: var(--blackColor);
  font-size: var(--h3FontSize);
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .navBar .menu {
    position: absolute;
    width: 70%;
    top: -100rem;
    right: 50%;
    background: rgba(255, 255, 255, 0.94);
    padding: 2rem;
    border-radius: 10px;
    transform: translate(-50%);
    left: 50%;
    transition: 0.8s ease-in-out;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 0 2px 3px 4px rgba(236, 213, 213, 0.516);
  }
  .navBar .menu li {
    font-size: var(--h3FontSize);
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
  }
  .navBar .menu li:hover {
    color: var(--primaryColor);
    border-bottom: 1.5px solid var(--primaryColor);
  }
}
.navBar .singInBtn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
  background: #c9a8f6;
}
.navBar .singInBtn:hover {
  background: linear-gradient(50deg, #c75dd3, #1b82be);
  color: var(--whiteColor);
}
.navBar .menuIcon,
.navBar .closeIcon {
  font-size: var(--h1FontSize);
}
.navBar .menuIcon:hover,
.navBar .closeIcon:hover {
  color: var(--primaryColor);
}
.navBar .closeIcon {
  position: absolute;
  bottom: -15px;
  right: 50%;
  left: 50%;
  color: var(--blackColor);
  transform: translate(-50%);
}
.navBar .showNavbar {
  top: 8rem;
}
.navBar .profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}

.navBarBG {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.48);
}

@media screen and (min-width: 768px) {
  .navBar .logoDiv span {
    font-size: var(--h2FontSize);
  }
  .navBar .profile {
    position: relative;
  }
  .navBar .profile .dropDownProfile {
    position: absolute;
    top: 4rem;
    right: 0rem;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(235, 247, 254);
    border: 2px solid rgb(120, 1, 120);
    z-index: 1001;
  }
  .navBar .profile .dropDownProfile li {
    font-size: var(--h3FontSize);
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
  }
  .navBar .profile .dropDownProfile li:hover {
    color: var(--primaryColor);
    border-bottom: 1.5px solid var(--primaryColor);
  }
  .navBar .profile .dropDownProfile::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: rgb(235, 247, 254);
    border-left: 2px solid rgb(120, 1, 120);
    border-top: 2px solid rgb(120, 1, 120);
  }
  .navBar .closeIcon,
  .navBar .menuIcon {
    display: none;
  }
  .navBar .menu ul {
    display: flex;
    gap: 1rem;
    padding-left: 10rem;
  }
  .navBar .menu ul li {
    font-size: var(--h3FontSize);
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
  }
  .navBar .menu ul li:hover {
    color: var(--primaryColor);
    border-bottom: 1.5px solid var(--primaryColor);
  }
}
@media screen and (min-width: 1000px) {
  .navBar {
    padding: 2rem 6rem;
  }
  .navBar .menu ul {
    gap: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .navBar .menu ul {
    padding-left: 20rem;
  }
}
@media screen and (min-width: 2000px) {
  .navBar .menu ul {
    padding-left: 25rem;
  }
}/*# sourceMappingURL=Navbar.css.map */